<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
	margin :0;
	padding: 0;
	box-sizing: border-box;
	}
	
	.container{
	margin: 50 auto;}
	
table {
	margin: 50px auto; width : 1000px;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	width: 1200px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
tr:hover{ 
		cursor: pointer;
}
</style>
</head>
<body>
<!-- 사원 상세 정보 -->
<h3>사원 정보</h3>
<input id="ename" disabled="disabled" placeholder="사원 이름">
<input id="comm" disabled="disabled" placeholder="사원 보너스">
<input id="sal" disabled="disabled" placeholder="사원 급여">

<!-- 사원 삭제 -->
<!-- 사원 수정 -->
<!-- 사원 추가 -->

<!-- 이 4가지를 무한 연습..!!!ㅠㅠㅠㅠㅠㅠㅠㅠㅠ -->

	<h2>안녕하세요 여기는 EMP 화면 입니다.</h2>
<div class="container">
	<table>
		<tr>
			<th>사원번호</th>
			<th>사원이름</th>
			<th>직업</th>
			<th>급여</th>
			<th>입사날짜</th>
		</tr>
		<tbody id="data">
		</tbody>
	</table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	callApi();
	
	function callApi() {
		$.ajax({
			url : '/api/v1/emp',
			type : 'GET',
			dataType : 'json',
			success : function(response) {
				var html = '';
				for (var i = 0; i < response.length; i++) {
					html += '<tr onclick="getEmp('+response[i].empno+')"><td>' + response[i].empno + '</td><td>'							+ response[i].ename +'</td><td>'
							+ response[i].comm + '</td><td>' 
							+ response[i].sal + '</td><td>';
							
				}
				$('#data').append(html);
			}
		});
	}
	

	function getEmp(empno){
		$.ajax({
			url : '/api/v1/emp'+empno,
			type : 'GET',
			dataType : 'json',
			success : function(response) {
				$('#ename').val(response.ename);
				$('#comm').val(response.comm);
				$('#sal').val(response.sal);
			}
		});
	}
	
	
	
</script>
</html>